{% extends 'layout.html' %}

{% block page_title %}
Statistiche 
{% endblock page_title %}

{% block content %}
<article class="container m-auto">
    <div class="grid grid-flow-col">
       <div class="grid-cols-5 bg-black p-3">
               <h1 class="text-white font-bold text-md">Statistiche</h1>
           <span class="text-white">
               Numero esami: {{ exams_count }}
           </span>
       </div>
       <div class="grid-cols-5 bg-red-500 p-3">
           <h1 class="text-white font-bold text-md">Dettagli</h1>
           {% for exam in 10exams %}
               <span class="text-white">
                  <a class="" href="{{ exam.get_absolute_url }}">{{ exam.name }}</a> 
                   {% if forloop.counter > 0 and not forloop.last %}
                      ,
                   {% endif %}
               </span>
           {% endfor %}
       </div>
    </div>
   </article>
{% endblock content %}